<div class="background-zone">
    <div>
        <div class="Box-Title">
            <div class="Box-Header">
                <b>Chỉnh sửa trang cá nhân</b>
            </div>
        </div>
        <div class="Edit-Information">
            <div id="Edit-Information">
                <div class="Column-1">
                    <form class="form">
                        <div style="display:flex; flex-direction:column;">
                            <label for="fullName"><b>Họ Tên</b></label>
                            <input class="form-control" type="text" value="Wicha" aria-label="readonly input example">
                        </div>
                        <div style="display:flex; flex-direction:column;">  
                            <label for="birthday"><b>Ngày sinh</b></label>
                            <input class="form-control" type="date"  value="2002-07-22" aria-label="readonly input example">
                        </div>
                        <div style="display:flex; flex-direction:column;">
                            <label for="email"><b>Email</b></label>
                            <input class="form-control" type="text" value="email@gmail.com" aria-label="readonly input example">        
                        </div>
                        <div style="display:flex; flex-direction:column;">
                            <label for="numb"><b>Số điện thoại</b></label>
                            <input class="form-control" type="text" value="034917892" aria-label="readonly input example">
                        </div>
                        <div style="display:flex; flex-direction:column;">
                            <label for="Address"><b>Địa chỉ</b></label>
                             <input class="form-control" type="text" value="227 Nguyễn Văn Cừ, phường 4, quận 5, TP Hồ Chí Minh" aria-label="readonly input example">
                        </div>
                    </form> 
                </div>
                <div class="Column-2">
                    <div>
                        <div class='avatar'>
                            <img id='avatar-pic' src='/images/account/avatar.png' alt='avatar-user' />
                        </div>
                        <div class='Edit-Information-User'>
                            <div class='Change-Avatar'>
                                <img id="imgEditAva" src="/images/account/editAva.png" alt="edit-avatar-icon"/>
                                <span style="color:white;">Đổi ảnh đại diện</span>
                            </div> 
                        </div>
                        <div>
                            <button id="btn-Save">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>