<div class="background-zone">
    <div>
        <div class="Box-Title">
            <div class="Box-Header">
                <b>Chỉnh sửa trang cá nhân</b>
            </div>
        </div>
        <div class="Edit-Information">
            <div id="Edit-Information">
                <div class="Column-1">
                    <form class="form">
                        <div style="display:flex; flex-direction:column;">
                            <label for="fullName"><b>Họ Tên</b></label>
                            <input type="text" name="fullName" class="ipt" id="fullName" 
                            placeholder="Nhập họ tên của bạn">
                        </div>
                        <div style="display:flex; flex-direction:column;">
                            <label for="birthday"><b>Ngày sinh</b></label>
                            <input type="date" name="birthday" class="ipt" id="birthday">
                        </div>
                        <div style="display:flex; flex-direction:column;">
                            <label for="email"><b>Email</b></label>
                            <input type="text" name="email" class="ipt" id="email" 
                            placeholder="Nhập email mới">
                        </div>
                        <div style="display:flex; flex-direction:column;">
                            <label for="numb"><b>Số điện thoại</b></label>
                            <input type="text" name="numb" class="ipt" id="numb" 
                            placeholder="Nhập số điện thoại mới">
                        </div>
                        <div style="display:flex; flex-direction:column;">
                            <label for="Address"><b>Địa chỉ</b></label>
                            <input type="text" name="Address" class="ipt" id="Address" 
                            placeholder="Nhập địa chỉ mới">
                        </div>
                    </form> 
                </div>
                <div class="Column-2">
                    <div>
                        <div class='avatar'>
                            <img id='avatar-pic' src='/images/account/avatar.png' alt='avatar-user' />
                        </div>
                        <div class='Edit-Information-User'>
                            <div class='Change-Avatar'>
                                <img id="imgEditAva" src="/images/account/editAva.png" alt="edit-avatar-icon"/>
                                <span style="color:white;">Đổi ảnh đại diện</span>
                            </div> 
                        </div>
                        <div>
                            <button id="btn-Save">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>