<div class="account-body">
    <div class="bus-trips-is-booked">
        <div>
            a
        </div>
        <div>

        </div>
    </div>
    <div class="profile-user">
        <div>
            <div class="avatar">
                <img id="avatar-pic"src="/images/account/avatar.png" alt="avatar-user">
            </div>
            <div class="Information-User">
                <div class="Username"><b>WiCha</b></div>
                <div class="Email-User"><p>email@gmail.com</p></div>
            </div>
            <div class="btn">
                <button>Chỉnh sửa trang cá nhân</button>
            </div> 
            <div class="Information-User-No2"> 
                <div class="Birthday-Component">
                    <div style="display:flex; justify-items:flex-start;font-size:16px">Ngày sinh:</div>
                    <div class="Birthday-Block">
                        <img class="imgCalendar" src="/images/account/calendar3.png" alt="calendar-icon">
                        <div style="display: inline;" class="Birthday-User">10/11/2002</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
