<div class="account-body">
    <div class="bus-trips-is-booked">
        <div>
            a
        </div>
        <div>

        </div>
    </div>
    <div class="profile-user">
        <div>
            <div class="avatar">
                <img id="avatar-pic"src="/images/account/avatar.png" alt="avatar-user">
            </div>
            <div class="Information-User">
                <div class="Username"><b>WiCha</b></div>
                <div class="Email-User"><p>email@gmail.com</p></div>
            </div>
            <div class="btn">
                <button>Chỉnh sửa trang cá nhân</button>
            </div> 
            <div class="Information-User-No2"> 
                <div id="Information-User-No2">
                    <div class="Component">
                        <div style="display:flex; justify-items:flex-start;font-size:16px">Ngày sinh:</div>
                        <div class="Block">
                            <img class="imgCalendar" src="/images/account/calendar3.png" alt="calendar-icon">
                            <div style="display: inline;"><b>10/11/2002</b></div>
                        </div>
                    </div>
                    <div class="Component">
                        <div style="display:flex; justify-items:flex-start;font-size:16px">Số điện thoại:</div>
                        <div class="Block">
                            <img class="imgPhone" src="/images/account/phone.png" alt="numberPhone-icon">
                            <div style="display: inline;"><b>034 458 2x6x</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
