<div class='w-75 rounded bg-white text-center mt-3 mx-auto w-25 p-5'>
  <h1>Cảm ơn bạn đã sử dụng dịch vụ</h1>
  <p class='fs-6'>Vui lòng liên hệ nhà xe để hủy vé</p>
  <p class='fs-6'>Hot-line: 111.111</p>
</div>