<h3>Chọn chỗ ngồi</h3>
<p>Vui lòng chọn chỗ ngồi mong muốn.</p>
<div class='position-relative'>
  <div><img src='' alt='' srcset='' /> Ghế trống</div>
  <div><img src='' alt='' srcset='' /> Ghế đã đặt</div>
  <input type='button' class='btn btn-primary' value='TIẾP THEO' />
</div>