<h3>Thanh toán</h3>
<p>Chọn hình thức thanh toán.</p>

<div class='m-4'>
  <p class='mb-1'><i class='fa fa-check-circle text-info'></i>
    Thanh toán Momo
    <img src='images/momo logo.png' alt='' srcset='' /></p>
  <ul>
    <li class='py-2'>Vui lòng chuyển khoản vào số tài khoản
      <span class='fw-semibold px-3 py-1 bg-secondary bg-opacity-10 rounded'>0123 456 789
        <span class='text-secondary fw-normal'>- Nha xe ABC</span></span>
    </li>
    <li>Nội dung gồm mã chuyến đi + số ghế, VD: <span class='fw-light'> XEABCD - A01 </span></li>
    <li>Nếu đặt nhiều ghế, quý khách ghi cách ra bằng dấu phẩy, VD:<span class='fw-light'>
        XEABCD - A01, A02
      </span></li>
    <li>Nhà xe sẽ xác nhận với quý khách chậm nhất 10 phút sau khi thanh toán</li>
  </ul>
</div>
<div class='m-4 pb-5'>
  <p class='mb-1'><i class='fa fa-check-circle'></i> Thanh toán trực tiếp</p>
  <ul>
    <li>Nhà xe sẽ xác nhận với quý khách chậm nhất 10 phút sau khi thanh toán</li>
  </ul>
</div>
<div class='fs-6 mt-5 mb-3 py-3 w-75 bg-info bg-opacity-10 rounded'>
  <label class='fw-bolder fs-5 ms-4 mb-3' for=''><i class='fa fa-check-square text-info'></i>
    Sử dụng voucher</label><input
    type='text'
    id=''
    placeholder='Nhập voucher để nhận ngay ưu đãi nhé'
    class='form-control border-top border-start border-end ms-5 py-1 bg-secondary bg-opacity-10 w-75 d-block'
  />
</div>
<div class='d-flex flex-content-around pt-5 mb-4 d-block'>
  <a href='/booking/step_2' class='btn btn-primary d-inline-block px-4'>QUAY LẠI</a>
  <div class='w-50'></div>
  <a href='/booking/booked_ticket' class='btn btn-primary d-inline-block px-4 ms-5'>TIẾP THEO</a>
</div>