.ticket-detail--header {
  background-color: #f7f9fb;
}

.left-boxes-width {
  width: 862px;
}

.right-box-width {
  width: 289px;
}

.seat-contain-bg--image {
  background-image: url(../images/seat-container.png);
  height: 90%;
  width: 100%;
}

.seat-container {
  width: 21%;
}

.seat--padding {
  margin-top: 0.05em;
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.seat-choose {
  background-color: cyan;
}

.bus-img-width {
  width: 80%;
}

.edit-coach {
  border-radius: 16px;
  border: 5px solid #000;
  background-color: #ccc;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.edit-coach__item {
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-control--hide {
  display: none;
}

.edit-control--hide {
  display: none;
} 