.detail {
  row-gap: 20px;
  display: flex;
  flex-direction: column;
}
.detail-header {
  display: flex;
  flex-direction: row;
  column-gap: 53%;
}
.detail-header h3 {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-header input {
  justify-content: center;
}

input[type='button'] {
  background-color: #163668;
  border-radius: 20px;
  border: #f1f5f7;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
}
input[type='submit'] {
  background-color: white;
  border-radius: 20px;
  border: #f1f5f7;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
}

.detail-body {
  height: 100%;
  width: 100%;
  display: flex;
}
.detail-body-img img {
  width: 550px;
  height: 400px;

  background: url(image.png);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.detail-body-info h2 {
  display: flex;
}

.detail-body-info p {
  height: 5px;
}
.detail-body-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.detail-body-info-rating {
  display: flex;
  flex-direction: row;
  column-gap: 5px;

  align-items: center;
}
.detail-body-info-rating #totalrating {
  opacity: 50%;

  justify-content: center;
  align-items: center;
}
.detail-body-info-rating #totalstar {
  color: #163668;
}
.star-rating {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: #163668;
  color: white;
}
.detail-body-service #comfortable {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  opacity: 60%;
}
.detail-body-service #comfortable i {
  align-items: center;
}
.detail-body-service #FAB {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.detail-body-service #FAB i {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: blue;
}
.detail-body-service h2 {
  font-size: medium;
  font-weight: bold;
}

.detail-body-footer #all {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
}
.detail-body-footer #at {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 500px;
  row-gap: 50px;
}

.detail-body-footer #address {
  line-height: 5px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
.detail-body-footer #time {
  line-height: 5px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
/* Color-or-Image */

.detail-body-footer #map img {
  width: 550px;
  height: 400px;
}

.detail-body-footer i {
  height: 21px;
  width: 20px;
  font-size: 20px;
}
