.search {
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 100%;
}
.search-header {
  display: flex;
  flex-direction: row;
  column-gap: 40%;
  width: 1100px;
}
.search-header h3 {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-header input {
  justify-content: center;
}

input[type='button'] {
  background-color: #163668;
  border-radius: 20px;
  border: #f1f5f7;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
}
input[type='submit'] {
  background-color: white;
  border-radius: 20px;
  border: #f1f5f7;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
}
.box {
  background-color: #e5e5e5;
}
.box-header {
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
  column-gap: 10px;
  padding: 10px;
}

.logo img {
  height: 30px;
  width: 30px;
}
