.support
{
  padding: 0px 250px 0px 30px;
  margin: 5px;
}

.support-header h1 {
  font-family: 'Open Sans', sans-serif;
  color: #032357;
}
.support-header p
{
  font-family: 'Open Sans', sans-serif;
}

.support-body
{
  display:flex;
  flex-direction: column;
  row-gap: 15px;
}
.support-email input
{
  width:100%;
  box-sizing:border-box;
  padding-bottom: 10px;
  padding-left: 10px;
}

.support-phone input
{
  width:100%;
  box-sizing:border-box;
  padding-bottom: 10px;
  padding-left: 10px;
}
.support-title input
{
  width:100%;
  box-sizing:border-box;
  padding-bottom: 10px;
  padding-left: 10px;
}

.support-description textarea
{
  width:100%;
  box-sizing:border-box;
  padding-bottom: 10px;
  padding-left: 10px;
}
.support-attach #button
{
  position: relative;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  height: 47px;
  padding: 6px 12px;
  line-height: 34px;
  outline: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.upload-text
{
  color: rgb(102, 102, 102);
  line-height: 24px;
  font-size: 12px;
}
.support-attach input
{
  position: absolute;
  opacity: 0;
  top: 0px;
  right: 0px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: black;
}