<div>
  <div id = "h1-register-coach"><h1>ĐĂNG KÝ NHÀ XE</h1></div>
  <form class="Login-form" style="height:445px;"> 
    <div class="register-coach">
      <div class="line-1">
        <div style="width:49%;">
          <label class="labelForm" for="uname"><b>Nhà xe:</b></label>
          <input id="username" type="text" placeholder="Tên nhà xe" name="uname" required>
        </div>
        <div style="width: 49%;">
          <label class="labelForm" for="unamePresident"><b>Giám đốc nhà xe:</b></label>
          <input id="PresidentName" type="text" placeholder="Tên giám đốc" name="unamePresident" required>
        </div>
      </div>

      <label for="date-of-establishment "><b>Ngày thành lập:</b></label>
      <input id="date-establishment" type="date" name="day-of-establishment ">

      <div id="attach-file"> 
        <label class="btn" style="padding:0px;"><b>Giấy phép hoạt động:</b></label>
        <div><input id="files" type="file"></div>
      </div>
 
      <label for="psw"><b>Mật khẩu:</b></label>
      <input id="password" type="password" placeholder="Mật khẩu" name="psw" required>

      <label for="psw-Check"><b>Kiểm tra mật khẩu:</b></label>
      <input id="check-password" type="password" placeholder="Mật khẩu" name="psw-Check" required>   
      <div class="Have account?">
        <i>Bạn đã có tài khoản?</i>
        <a href="#">Đăng nhập</a>
      </div>
      <div class="btn-Submit-Login">
        <button id="register-btn" type="submit">Đăng Ký</button>
      </div>
     
    </div>
 
    
  </form>
</div>
