.layout-login{
    position: relative;
}

#nameBrand{
    position: absolute;
    top:5%;
    bottom:0%;
    left: 30%;
    color: white;
    font-weight: bold;
}

#logo{
    position: absolute;
    top:10%;
    bottom:0%;
}
h1 {
    color: rgb(10,88,201);
    text-align: center;
    font-weight: bold;
    font-size:20px;
}

#register_H1{
    margin-bottom: 0px;
}

#username, #password, #PresidentName, #date-establishment,
#numberPhone, #check-password {
    width: 100%;
    padding: 12px 20px;
    margin: 0 0 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    border-radius: 8px;
}

button {
    background-color:rgb(7,66,152);
    color: white;   
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}

button:hover {
    opacity: 0.8;
}
 
.btn-Submit-Login, .You-Know-To-Web{
    display:flex;   
    justify-content: center;
}

.You-Know-To-Web > i{
    padding-right: 5px;
}
 
.container {
    padding: 16px 150px 0px; 
}

#register_user {
    padding:0px 150px;
}

/* remember-Information */
.remember-Information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //padding: 0px 16px;
}

#Forgot-password{
    float: right;
}

.Alt-Login-btn{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 40px 0px 5px 0px;
}

/* form login coach_h1 */
#login_coach_h1{
    margin-top:40px;
}
#register_coach{
    margin-top: 10px;
}

.line-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.register-coach{
    padding: 0px 20px 0px 35px;
}

.Login-form{
    position: relative;
    margin-bottom: 0px;
}

#register-btn{
    position: absolute;
    bottom: 0px;
}