<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<div class="support">
  <div class="support-header">
    <h1>Đội ngũ chăm sóc khách hàng VESIRE</h1>
    <p>VESIRE luôn sẵn sàng lắng nghe câu hỏi và ý kiến đóng góp từ bạn. Chúng tôi sẽ phản hồi ngay trong 24h tiếp theo!</p>
  </div>
  <hr>
  <div class="support-body">
    <h5>Điền đầy đủ các thông tin dưới để chúng tôi hỗ trợ sớm nhất có thể</h5>
    <div class = "support-email">
      <label for="">Địa chỉ email: </label> 
      <input type="email"  name="email" placeholder="Nhập địa chỉ email" value="">
    </div>
    <div class = "support-phone">
      <label for="">Số điện thoại: </label> 
      <input type="text"  name="phone" placeholder="Nhập số điện thoại" value="">
    </div>
    <div class = "support-title">
      <label for="">Tiêu đề: </label> 
      <input type="text"  name="title" placeholder="Nhập tiêu đề" value="">
    </div>
    <div class = "support-description">
      <label for="">Chi tiết: </label> 
      <textarea rows="5" type="textarea"  name="description" placeholder="Mô tả chi tiết vấn đề của bạn" ></textarea>
    </div>
    <div class = "support-attach">
      <label for="">Tệp tin đính kèm: </label> 
      <div id="button">
        <input type="file" multiple="" style="width:100%" name="file_list">
        <div class="upload-text"><span>Thêm tập tin</span> hoặc thả tập tin ở đây</div>
      </div>
    </div>
<div class='menu_button'>
      <input style="background-color:white;color:black" type='button' value='Hủy' />
      <input style ="background-color:#032357;color:white " type='submit' value='Gửi yêu cầu' />
    </div>
  </div>
</div>