<div class='menu-support'>
  <div class='menu-header'>
    <h5 class='menu_header_title'>Trung tâm hỗ trợ</h5>
  </div>

  <div class='menu-body'>
    <h2 class='menu_body_main_title'>Yêu cầu hỗ trợ</h2>
    <div class='menu_body_question'>
      <label for='Câu hỏi'>Câu hỏi</label>
      <input type='text' placeholder='Nhập vấn đề cần hỗ trợ' />
    </div>
    <div class='menu_body_detail'>
      <label for='Nội dung'>Nội dung</label>
      <input type='text' placeholder='Chi tiết nội dung cần hỗ trợ...' />
      <label for='Hình ảnh'>Hình ảnh: </label>
    </div>

    <div class='menu_body_image'>
      <div class='drag-area'>
        <div class='icon'>
          <i class='fas fa-images'>
          </i>
        </div>
        <span class='header'>Drag & Drop</span>
        <span class='header'> or <span class='button'>browse</span></span>
        <span class='support'>Support: JPEG,JPG,PNG</span>
      </div>
    </div>

    <div class='menu_button'>
      <input type='button' value='Hủy' />
      <input type='submit' value='Gửi yêu cầu' />
    </div>
  </div>
</div>