<div class='container' style='min-height: 100vh;'>
  <div class='detail'>
    <div class='detail-header'>
      <h3>Thông tin nhà xe</h3>
      <div class='detail-header-button'>
        <button onclick="onNavigateTo('garage/123')" class ="detail-header-button-info">Thông tin và giá</button>
        <button onclick="onNavigateTo('garage/123/rating')" class = "detail-header-button-rating">Đánh giá</button>
      </div>
    </div>
  </div>
  <div class='detail-body'>
    <div class='detail-body-img'>
      <img src='/images/details/mailinh.jpeg' alt='' />
    </div>
    <div class='detail-body-info'>
      <h2>Mai Linh</h2>
      <p>Đường dây nóng: 0985 29 29 29 29</p>
      <p>Tổng đài: 08. 39 39 39 39</p>
      <div class='detail-body-info-rating'>
        <div class='star-rating'>
          <p>4.8</p>
          <i class='fa-solid fa-star'></i>
        </div>
        <p id='totalrating'>67 đánh giá</p>
        <div id='totalstar'>
          <i class='fa-solid fa-star'></i>
          <i class='fa-solid fa-star'></i>
          <i class='fa-solid fa-star'></i>
          <i class='fa-solid fa-star'></i>
          <i class='fa-solid fa-star'></i>
        </div>
      </div>
      <div class='detail-body-service'>
        <h2>Dịch vụ</h2>
        <div id='comfortable'>
          <i class='fa-solid fa-fan'></i>
          <p>Điều hòa</p>
          <i class='fa-solid fa-wifi'></i>
          <p>Wifi</p>
        </div>
        <div id='FAB'>
          <i class='fa-solid fa-square-check'></i>
          <p>Nước uống</p>
          <i class='fa-solid fa-square-check'></i>
          <p>Khăn lạnh</p>
          <i class='fa-solid fa-square-check'></i>
          <p>Ăn nhẹ</p>
        </div>
      </div>
    </div>

  </div>
  <div class='detail-body-footer'>
    <h3>Chi tiết công ty</h3>
    <div id='all'>
      <div id='at'>
        <div id='address'>
          <i class='fa-solid fa-location-dot'></i>
          <div>
            <p id='title'>Địa chỉ</p>
            <p id='detailed'>349 Lê Hồng Phong,P2,Quận 10,TP. Hồ Chí Minh</p>
          </div>
        </div>
        <div id='time'>
          <i class='fa-solid fa-clock'></i>
          <div>
            <p id='time'>Giờ làm việc</p>
            <p>Thứ 2 - Chủ Nhật</p>
            <p>6:00 - 23:00</p>
          </div>
        </div>
      </div>
      <div id='map'>
        <img src='/images/details/map.jpeg' alt='' />
      </div>
    </div>
  </div>
</div>