<div class='container' style='min-height: 100vh;'>
  <div class='rating'>
    <div class='rating-header'>
      <h3>Thông tin nhà xe</h3>
      <div class='rating-header-button'>
        <input class="rating-header-button-info" type='button' value='Thông tin và giá' />
        <input type='rating-header-button-rating' value='Đánh giá' />
      </div>
    </div>
    <div class='rating-body'>
      <div class='rating-body-img'>
        <img src='/images/details/mailinh.jpeg' alt='' />
      </div>
      <div class='rating-body-sideimg'>
        <table>
          <tr><img src='/images/details/mailinh.jpeg' alt='' /></tr>
          <tr><img src='/images/details/mailinh.jpeg' alt='' /></tr>
          <tr><img src='/images/details/mailinh.jpeg' alt='' /></tr>
          <tr><img src='/images/details/mailinh.jpeg' alt='' /></tr>
          <tr><img src='/images/details/mailinh.jpeg' alt='' /></tr>
          <tr><img src='/images/details/mailinh.jpeg' alt='' /></tr>
        </table>
      </div>
      <div class='rating-summary'>
        <div class='frame-div'>
          <div class='frame-div1'>
            <div class='div'>4.8</div>
            <i class='fa-solid fa-star' id='big'></i>
            <div class='nh-gi-div'>67 đánh giá</div>
          </div>
          <div class='frame-div2'>
            <div class='app-4-div'>
              <b class='b'>5</b><i class='fa-solid fa-star'></i>
              <div class='progress-div'>
                <div class='bg-div'></div>

              </div>
              <b class='b1'>20</b>
            </div>
            <div class='app-4-div'>
              <b class='b'>4</b><i class='fa-solid fa-star'></i>
              <div class='progress-div'>
                <div class='bg-div'></div>
                <div class='selected-div'></div>
              </div>
              <b class='b1'>25</b>
            </div>
            <div class='app-6-div'>
              <b class='b'>3</b><i class='fa-solid fa-star'></i>
              <div class='progress-div'>
                <div class='bg-div'></div>
                <div class='selected-div1'></div>
              </div>
              <b class='b1'>12</b>
            </div>
            <div class='app-4-div'>
              <b class='b'>2</b><i class='fa-solid fa-star'></i>
              <div class='progress-div'>
                <div class='bg-div'></div>
                <div class='selected-div2'></div>
              </div>
              <b class='b1'>7</b>
            </div>
            <div class='app-8-div'>
              <b class='b'>1</b><i class='fa-solid fa-star'></i>
              <div class='progress-div'>
                <div class='bg-div'></div>
                <div class='selected-div3'></div>
              </div>
              <b class='b1'>3</b>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>