<div>
  <h1 id="login_coach_h1">ĐĂNG NHẬP NHÀ XE</h1>   
  <form class="Login-form"> 
    <div class="container">
      <label class="labelForm" for="uname"><b>Tài Khoản:</b></label>
      <input id="username" type="text" placeholder="Tên tài khoản" name="uname" required>

      <label for="psw"><b>Mật khẩu:</b></label>
      <input id="password" type="password" placeholder="Mật khẩu" name="psw" required>
      <div class="remember-Information"> 
        <label>
          <input type="checkbox" checked="checked" name="remember">Lưu thông tin đăng nhập
        </label> 
        <span id="Forgot-Password"><a href="#">Quên mật khẩu?</a></span>
      </div>    
        <div class="btn-Submit-Login" >
          <button id="login-btn"type="submit">Đăng nhập</button>
        </div>
    </div> 
    <div class="You-Know-To-Web" id="register_coach">
      <i>Bạn chưa có tài khoản nhà xe?</i>
      <a href="#">Đăng ký</a>
    </div>
  </form>
</div>
