<div class='w-75 mx-auto pt-5'>
  <h1 class='login__header fs-1'>ĐĂNG NHẬP</h1>
  <form method='post'>
    <div>
      <label for='email'><b>Email:</b></label>
      <input
        id='email'
        class='form-control w-100'
        type='email'
        placeholder='Email'
        name='email'
        value='{{email}}'
        pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$'
        required
      />

      <label for='password'><b>Mật khẩu:</b></label>
      <input
        id='password'
        class='form-control w-100'
        type='password'
        placeholder='Mật khẩu'
        name='password'
        required
      />
      <div class='remember-information mb-3'>
        <div class='d-flex align-items-center gap-2'>
          <input type='checkbox' name='remember' />
          <label class='no-wrap'>
            Lưu thông tin đăng nhập
          </label>
        </div>
        <span class='no-wrap'><div
            class='text-primary'
            data-bs-toggle='modal'
            data-bs-target='#forget_password'
          >Quên mật khẩu?</div></span>
      </div>
      {{#if error}}
        <div class='text-danger text-center mb-3'>
          {{error}}
        </div>
      {{/if}}
      <div class='btn-Submit-Login'>
        <button id='login-btn' type='submit'>Đăng nhập</button>
      </div>
    </div>
    <div class='You-Know-To-Web'>
      <i>Bạn mới biết đến Vesire?</i>
      <a href='register'>Đăng ký</a>
    </div>
  </form>
</div>

<div
  class='modal fade'
  id='forget_password'
  tabindex='-1'
  aria-labelledby='forget_password_label'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='exampleModalLabel'>Quên mật khẩu</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <input class='form-control w-100' type='email' name='send' placeholder='Email' />
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Hủy</button>
        <button onclick='onSendPassword(false)' type='button' class='btn btn-primary'>Gửi mail</button>
      </div>
    </div>
  </div>
</div>