<div class='w-75 mx-auto pt-5'>
  {{> social_login}}
  <div style='text-align:center; font-size:20px; padding: 16px'>Hoặc</div>
  <h1 class='login__header'>ĐĂNG NHẬP</h1>
  <form>
    <div>
      <label class='labelForm' for='uname'><b>Tài Khoản:</b></label>
      <input id='username' type='text' placeholder='Tên tài khoản' name='uname' required />

      <label for='psw'><b>Mật khẩu:</b></label>
      <input id='password' type='password' placeholder='Mật khẩu' name='psw' required />
      <div class='remember-Information'>
        <label>
          <input type='checkbox' checked='checked' name='remember' />Lưu thông tin đăng nhập
        </label>
        <span id='Forgot-Password'><a href='#'>Quên mật khẩu?</a></span>
      </div>
      <div class='btn-Submit-Login'>
        <button onclick="onNavigateTo('/')" id='login-btn' type='submit'>Đăng nhập</button>
      </div>
    </div>
    <div class='You-Know-To-Web'>
      <i>Bạn mới biết đến Vesire?</i>
      <a href='register'>Đăng ký</a>
    </div>
  </form>
</div>