<h4 class='ticket-detail--header mt-3 mb-1 py-2 ps-5 rounded text-start'>Chi tiết vé</h4>
<div class='bg-white d-flex justify-content-around py-2 my-2 rounded'>
  {{#each onPage}}
    <span class='d-inline-block'>
      {{#if this.condition}}
        <i class='far fa-check-circle p-1 text-info'></i>
      {{else}}
        <i class='far fa-check-circle p-1'></i>
      {{/if}}
      {{this.name}}</span>
  {{/each}}
</div>